/***** 颜色定义规范 *****/
$color-background = #ffffff
$color-text = #666666
//主题色
$color-theme = rgba(0,0,0,0.8)
//消息提示色
$color-message = #eb1e1e

//icon颜色 （白色背景）
$color-icon = #6e6e6e

//下划线色
$color-underline = #6e6e6e

//一级标题色
$color-title-1 = #444444

//二级标题色
$color-title-2 = #686868

//三级标题色
$color-title-3 = #999999

//四级标题色
$color-title-4 = #d0d0d0


/****  字体定义规范   ****/
//mini字体  不重要的标注文字
$font-size-mini = 12px

//小字体 重要的灰色标注字体不重要的文本 行间距1.5
$font-size-small = 14px

//标准字体 行间距1.5
$font-size-medium = 18px

//大号字体 标题弹窗字体  大号按钮字体
$font-size-large = 22px

//超大号字体  重要的大标题 导航栏标题文字
$font-size-large-x = 26px